* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}




a {
    text-decoration: none;
    color: inherit;
}



li {
    list-style: none;
}



input, button, textarea, select {
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;

    &:focus {
        outline: none;
    }
}

body {
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    height: 100%;
    @include proxima;
    font-weight: 400;
    color: $black;
    background-color: $body;
}


.wrapper {

}

.container {
    max-width: 1265px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}


.page__title {
    font-size: 64px;
    line-height: 72px;
    color: #fff;
    font-weight: 400;
    font-family: Radical;
}

@media (max-width: 800px) {
    .page__title {
        font-size: 32px;
        line-height: 40px;
    }
}