.header {
    border-bottom: 1px solid rgba(#fff, .1);
    &__in {
        padding: 16px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        font-weight: 600;
    }

    &__burger {
        display: none;
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__nav {
        display: flex;
        align-items: center;

        &_head {
            display: none;
        }


        &_item {
            margin: 0 4px;
            position: relative;
            a {
                padding: 12px 16px;
                border-radius: 24px;
                background: rgba(255, 255, 255, 0.1);
                @include def-anim;
                font-size: 18px;
                line-height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                

                &:hover {
                    background-color: #fff;
                    color: $purp;

                    .header__nav_item_btn {
                        
                        svg {
                            path {
                                fill: $purp;
                            }
                        }
                    }
                }


                .header__nav_item_btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 8px;
                    cursor: pointer;

                    svg {
                        path {
                            @include def-anim;
                        }
                    }
                }

                
            }

            
            &:hover {
                a {
                    background-color: #fff;
                    color: $purp;

                    .header__nav_item_btn {
                        
                        svg {
                            path {
                                fill: $purp;
                            }
                        }
                    }
                }
                .header__nav_item_menu {
                    opacity: 1;
                    z-index: 10;
                    transform: translateY(110%);
                }
            }

            .header__nav_item_menu {
                background-color: #fff;
                border-radius: 8px;
                position: absolute;
                bottom: 0;
                opacity: 0;
                transform: translateY(100%);
                @include def-anim;
                z-index: -1;
                // position: relative;

                &:after {
                    position: absolute;
                    top: -4px;
                    right: 20px;
                    width: 10px;
                    height: 10px;
                    border-radius: 3px;
                    transform: rotate(45deg);
                    background-color: #fff;
                    content: '';
                }

                &_item {
                    padding: 10px 16px;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: $black !important;
                    cursor: pointer;
                    display: block;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    &__action {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;

        &_body {
            font-size: 16px;

            &-name {
                text-align: right;
            }

            &-lastname {
                text-align: right;
            }
        }

        &_img {
            width: 48px;
            height: 48px;
            border-radius: 100%;
            overflow: hidden;
            margin-left: 8px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &_btn {
            margin-left: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            position: relative;
            background-image: url('../img/icons/arrow-down.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

        }
        

        &_menu.active {
            transform: translateY(0);
            opacity: 1;
            z-index: 1000;
        }

        &_menu {
            position: absolute;
            top: 55px;
            right: -5px;
            background-color: #fff;
            padding: 16px;
            border-radius: 8px;
            color: $black;
            z-index: -1;
            transform: translateY(-20px);
            opacity: 0;
            @include def-anim;
            
            &:after {
                position: absolute;
                top: -10px;
                right: 10px;
                content: url('../img/icons/triangle.svg');
            }

            &_item {
                margin-bottom: 14px;

                a {
                    position: relative;
                    padding-left: 32px;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.02em;
                    -moz-user-select: none;
                    -khtml-user-select: none;
                    user-select: none;      

                    &:after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 24px;
                        height: 24px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                a.my-profile {

                    &:after {
                        content: url('../img/icons/account-1.svg');
                    }
                }

                a.project-map {

                    &:after {
                        content: url('../img/icons/account-2.svg');
                    }
                }

                a.select-language {

                    &:after {
                        content: url('../img/icons/account-3.svg');
                    }
                }

                a.exit-btn {
                    color: #E52421;
                    &:after {
                        content: url('../img/icons/account-4.svg');
                    }
                }
            }
        }
    }
}


@media (max-width: 925px) {

    .header {


        &__in {

        }

        &__burger {
            width: 16px;
            height: 12px;
            display: block;
            position: relative;
            margin-right: 20px;

            span {
                height: 2px;
                background-color: #fff;
                width: 100%;
                border-radius: 8px;
                display: block;
                position: absolute;

                &:nth-child(1) {
                    top: 0;
                    left: 0;
                }

                &:nth-child(2) {
                    top: calc(50% - 1px);
                    left: 0;
                }

                &:nth-child(3) {
                    bottom: 0;
                    left: 0;
                }
            }
        }

        &__nav.active {
            transform: translateX(0);
        }

        &__nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10000;
            background-color: #3A2785;
            flex-direction: column;
            padding-bottom: 20px;
            align-items: flex-start;
            @include def-anim;
            transform: translateX(-100%);

            &_head {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 16px 0;
                border-bottom: 1px solid rgba(#FFFFFF, .1);
                margin-bottom: 24px;
                padding-left: 16px;
                padding-right: 16px;

                &_close {
                    margin-right: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &_logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                
            }

            &_item {
                width: 100%;
                margin-bottom: 24px;
                margin-right: 0;
                margin-left: 0;

                padding-left: 16px;
                padding-right: 16px;


                &_btn {
                    transform: rotate(-90deg);
                }
                

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    display: inline-flex;
                }
            }
        }

        &__action {
            flex: 1 0 auto;
            justify-content: flex-end;

            &_body {
                display: none;
            }
        }
    }
}