.faq
    .container 
        .faq__in 
            .faq__head 
                h1(class='faq__head_title page__title') FAQ
            .faq__body 
                .faq__body_list
                    .faq__body_list_item 
                        .faq__body_list_item_head  Какие темы фотографий можно присылать?
                        .faq__body_list_item_content
                            p.
                                В проекте предусмотрены четыре основные категории: Люди, Природа, Архитектура и Технологии. Вы можете загрузить, как обычное селфи или уличную зарисовку, так и художественный портрет, пейзаж или даже отдельный фотопроект.
                    .faq__body_list_item 
                        .faq__body_list_item_head  Сколько стоит участие?
                        .faq__body_list_item_content
                            p.
                                Стоимость участия определяется исключительно размером загружаемой фотографии, поскольку от размера фотографии зависит ее роль в общем фото и шансы на выигрыш одного из токенов. Каждый мегапиксель стоит 75 рублей (примерно 1$).
                    .faq__body_list_item 
                        .faq__body_list_item_head  Если я загружу высокохудожественное фото, может ли оно может попасть в одну галерею с любительскими или даже мобилофотами?
                        .faq__body_list_item_content
                            p.
                                Работы профессиональных фотографов будут выбираться индивидуально. Основным критерием отбора таких работ будет их физический размер. Кроме этого, результаты будут оцениваться при помощи специальных алгоритмов, которые разработаны в рамках премии 35AWARDS.
                    .faq__body_list_item 
                        .faq__body_list_item_head  Какие есть категории участников?
                        .faq__body_list_item_content
                            p.
                                На данный момент мы выделяем несколько категорий:<br>
                                1. Участник проекта: общий объем загружаемых фоторабот от 1 Мп до 100 Мп.<br>
                                2. Фотограф: общий объем загружаемых фоторабот от 100 Мп до 500 Мп.<br>
                                3. VIP-участник: общий объем загружаемых фоторабот от 500 Мп до 1000 Мп.<br>
                                4. Партнер проекта: общий объем загружаемых фоторабот от 1000 Мп до 5000 Мп.<br>
                                5. Генеральный партнер: от 5000 Мп<br>

                                Для каждой категории пользователей (кроме участника) предусмотрены дополнительные бонусы (премиальный аккаунт 35AWARDS, членство в Клубе «Российское фото», создание эксклюзивных токенов и т.д.). Подробности по электронной почте info@terapix.art.
                    .faq__body_list_item 
                        .faq__body_list_item_head  Как выбираются победители?
                        .faq__body_list_item_content
                            p.
                                Победителем нашего проекта становится каждый! Ваша фотография навсегда войдет в историю современного фотоискусства!
                                Однако, будет и 198 счастливчиков, которые станут совладельцами данной работы (каждый станет собственником отдельного NFT-токена). Стоимость таких токенов может составлять от нескольких тысяч до миллионов долларов *.

                                * На сегодняшний день, самая дорогая в мире цифровая NFT-работа – это коллаж из 5000 изображений, который был продан за 69 миллионов долларов.
                    .faq__body_list_item 
                        .faq__body_list_item_head  Что будет, если проект не соберет 1 000 000 мегапикселей к сентябрю 2022 года?
                        .faq__body_list_item_content
                            p.
                                - Общая аудитория наших проектов более 2 000 000 человек. Кроме этого, примерно четверть итоговой работы будет представлена фотоработами крупнейших конкурсов, премий и художественных галерей. Но если по каким-то причинам мы не будем успевать, то просто продлим срок приема работ.
                    