doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Main Page
        script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<e999c44f-dd84-4768-bc35-1d7089eee3dc>', type="text/javascript")
        link(rel="stylesheet", href="./css/style.min.css")
        