.map     
    .container 
        .map__in 
            .map__head  
                h1(class="map__head_title page__title") Карта проекта
                div(class='map__head_subtitle') Краткое описание того, что собирается. Собрано 9,15 % за 123 дней.
    .map__body 
        div(class='map__body_in', id='map')

            