.rating     
    .container 
        .rating__in 
            .rating__head  
                h1(class="rating__head_title page__title") Рейтинг блогеров
                div(class='rating__head_subtitle') 28.10.20 – 11.02.22
            
            .rating__body 
                div(class='rating__body_item rating__body_table') 
                    table.table 
                        tr.table__headrow 
                            th.table__headrow_item #
                            th.table__headrow_item Блогер
                            th.table__headrow_item Соцсети
                            th.table__headrow_item Приглашено
                            th.table__headrow_item Страна
                            th.table__headrow_item МП
                        tr.table__row 
                            td.table__row_item 1
                            td(class='table__row_item table__row_item--bloger')
                                .cell 
                                    .cell__img 
                                    .cell__body 
                                        .cell__body_name Арсений
                                        .cell__body_lastname Илюхин
                            td(class='table__row_item table__row_item--social')
                                .cell
                                    .cell__soc
                                        img(src="./img/icons/facebook.svg", alt="")
                                    .cell__soc
                                        img(src="./img/icons/vk.svg", alt="")
                                    .cell__soc
                                        img(src="./img/icons/twitter.svg", alt="")
                            td(class='table__row_item') 11 участников
                            td(class='table__row_item') Россия
                            td(class='table__row_item') 92,44 МП
                        tr.table__row 
                            td.table__row_item 1
                            td(class='table__row_item table__row_item--bloger')
                                .cell 
                                    .cell__img 
                                    .cell__body 
                                        .cell__body_name Арсений
                                        .cell__body_lastname Илюхин
                            td(class='table__row_item table__row_item--social')
                                .cell
                                    .cell__soc
                                        img(src="./img/icons/facebook.svg", alt="")
                                    .cell__soc
                                        img(src="./img/icons/vk.svg", alt="")
                                    .cell__soc
                                        img(src="./img/icons/twitter.svg", alt="")
                            td(class='table__row_item') 11 участников
                            td(class='table__row_item') Россия
                            td(class='table__row_item') 92,44 МП
                        tr.table__row 
                            td.table__row_item 1
                            td(class='table__row_item table__row_item--bloger')
                                .cell 
                                    .cell__img 
                                    .cell__body 
                                        .cell__body_name Арсений
                                        .cell__body_lastname Илюхин
                            td(class='table__row_item table__row_item--social')
                                .cell
                                    .cell__soc
                                        img(src="./img/icons/facebook.svg", alt="")
                                    .cell__soc
                                        img(src="./img/icons/vk.svg", alt="")
                                    .cell__soc
                                        img(src="./img/icons/twitter.svg", alt="")
                            td(class='table__row_item') 11 участников
                            td(class='table__row_item') Россия
                            td(class='table__row_item') 92,44 МП
                        tr.table__row 
                            td.table__row_item 1
                            td(class='table__row_item table__row_item--bloger')
                                .cell 
                                    .cell__img 
                                    .cell__body 
                                        .cell__body_name Арсений
                                        .cell__body_lastname Илюхин
                            td(class='table__row_item table__row_item--social')
                                .cell
                                    .cell__soc
                                        img(src="./img/icons/facebook.svg", alt="")
                                    .cell__soc
                                        img(src="./img/icons/vk.svg", alt="")
                                    .cell__soc
                                        img(src="./img/icons/twitter.svg", alt="")
                            td(class='table__row_item') 11 участников
                            td(class='table__row_item') Россия
                            td(class='table__row_item') 92,44 МП

                div(class='rating__body_item rating__body_filter') 
                    h2.rating__body_filter_head Фильтр
                    .rating__body_filter_list
                        div(class='rating__body_filter_list_item dropdown', data-selected)
                            div(class='dropdown__name') Страна
                            div(class='dropdown__head', data-path='one') Все страны
                            div(class='dropdown__list', data-target='one')
                                div(class='dropdown__list_item', data-value='select1') Все страны
                                div(class='dropdown__list_item', data-value='select2') Россия
                        div(class='rating__body_filter_list_item dropdown', data-selected)
                            div(class='dropdown__name') Период
                            div(class='dropdown__head', data-path='two') За все время
                            div(class='dropdown__list', data-target='two')
                                div(class='dropdown__list_item', data-value='select1') За все время
                                div(class='dropdown__list_item', data-value='select2') Сегодня

                            
                    
            